@import "../../utils/styles/theme_colors";

///////////////////////////////////////////
/////////* UNDEPLOYS PAGE STYLES */////////
///////////////////////////////////////////

#munzee-edit-page {
  @include content-wrapper;
  padding: 36px 0 96px 0;
  display: flex;
  flex-direction: column;
  
  .update-btn{
    background-color: $card-desc-background-color;
    color: $primary-font-color;
    text-transform: capitalize;
    font-size: 14px;

    &:hover {
      background-color: $green-font-color;
    }
  }

  .replace-missing-munzee, .replace-missing-munzee > * {
    font-size: 14px;

  }
  .game-piece-link, .swap-link {
    color: $green-font-color;
    text-decoration: none;
  }

  .archive-btn {
    background-color: $red-btn-color;
    text-transform: capitalize;

    &:hover {
      background-color: $error-bg-hover-color;
    }
  }
    
}

