@import "../../utils/styles/theme_colors";

///////////////////////////////////////////
/////////* UNDEPLOYS PAGE STYLES */////////
///////////////////////////////////////////

#munzeeactivity-page {
  @include content-wrapper;
  padding: 36px 0 96px 0;
  display: flex;
  flex-direction: column;

  .btns-wrapper {
    @include pagination-btns-wrapper;

    .print-btn {
      color: $secondary-text-color;
      text-transform: capitalize;
      font-weight: 600;
      font-style: italic;
      font-size: 16px;

      svg {
        font-size: 20px;
        margin-right: 7px;
      }
    }
  }
}




.munzee-activity-holder {
  width: 100%;
  float: left;
  margin: 10px 0;
  min-height: 64px;
  background: $feed-item-bg;
  border-radius: 4px;
  padding-left: 0;

  a {
    color: $green-font-color;
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    .user-photo {
      margin-top: 0;
      background: $primary-font-color;
      margin-left: 0;
      border-radius: 4px 0;
      border: none;
      float: left;
      width: 64px;
      height: 64px;
    }
  }

  .captured-at {
    font-size: 14px;
    font-weight: 500;
  }

  p {
    a {
      svg {
        fill: $green-font-color;
      }
    }
  }

  .stat {
    float: right;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: $primary-font-color;
    background: $card-desc-background-color;
    padding: 12px;
    margin-top: 1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    &>* {
      color: $primary-font-color;
    }
  }

  p {
    font-weight: 500;
    font-style: italic;
    margin-top: 15px;
    margin-left: 73px; // 64 + 9
    word-wrap: break-word;
  }
}




.munzee-entry-holder {
  background: 0 0;

  img {
    float: left;
    border-radius: 4px 0;
    width: 64px;
    height: 64px;
  }

  .entry {
    &:before {
        border-radius: 62px;
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid $feed-item-bg;
        font-size: 0;
        line-height: 0;
        left: -20px;
        top: 5px;
        content: "";
        position: relative;
    }

    background: $feed-item-bg;
    padding: 10px 10px 26px;
    float: left;
    margin-top: 10px;
    border-radius: 4px;
    min-height: 76px;
    margin-left: 17px;
    width: 90%;

    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    // word-wrap: break-word;

    a {
      color: $green-font-color;
      text-decoration: none;
    }
  }

  .wrote-at {
    float: right;
    margin: -26px 0 0;
    background: $filter-btn-border;
    color: $primary-font-color;
    padding: 6px;
    border-radius: 4px;
    font-style: italic;
    font-size: 13px;
  }
}

#room-holder { 

  section {
    width: 100%;
    float: left;
    margin: 10px 0;
    min-height: 64px;
    background: rgba(168,167,167,.17);
    border-radius: 4px;
    padding-left: 0;

    &:last-of-type {
      margin-bottom: 25px;
    }

    a {      
      .user-photo {
        float: left;
        width: 64px;
        height: 64px;
        background: #fff;
        margin: 0 8px 0 0;
      }
    }

    p {
      font-weight: 500;
      font-style: italic;
      margin-top: 15px;
      margin-left: 9px;
      word-wrap: break-word;
      font-size: 14px;
      a {
        color: $green-font-color;
        text-decoration: none;

        .fa {
          color: $green-font-color;
        }
        &:hover {
          color: $secondary-text-color;
          .fa {
            color: $secondary-text-color;
          }
        }
      }
    }

    .stat {
      float: right;
      text-align: center;
      font-family: Ubuntu,sans-serif;
      font-weight: 800;
      color: #FFF;
      background: rgba(141,197,62,.8);
      padding: 12px;
      margin-top: 1px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 14px;

      & > * {
        color: #FFF;
      }
    }

  }
}

.indicator-box {
  width: 100%;
  text-align: center;
  height: 20px;
  max-width: 100%;
  background-color: transparent;
  td {
    text-align: center;
    font-size: 10px;
    width: 10px;
    height: 10px;

    .indicator {
      text-align: center;
      margin: 1px;
      height: 10px;
      background-color: #ccc;
      cursor: pointer;

      &.deploy-capture {
        /* background: -webkit-linear-gradient(left,$indicator-deploy,$indicator-deploy 50%,$indicator-capture 50%,$indicator-capture);
        background: -moz-linear-gradient(left,$indicator-deploy,$indicator-deploy 50%,$indicator-capture 50%,$indicator-capture);
        background: -ms-linear-gradient(left,$indicator-deploy,$indicator-deploy 50%,$indicator-capture 50%,$indicator-capture); */
        background: -webkit-linear-gradient(left,#CF710E,#CF710E 50%,#056102 50%,#056102);
        background: -moz-linear-gradient(left,#CF710E,#CF710E 50%,#056102 50%,#056102);
        background: -ms-linear-gradient(left,#CF710E,#CF710E 50%,#056102 50%,#056102);
      }
      &.capture-only {
        background-color: $indicator-capture;
      }
      &.deploy-only {
        background-color: $indicator-deploy;
      }

    }

  }
}

.map-view-btn  {
  border: 1px solid #ccc;
  padding: 4px 6px;
  color: #565656;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  z-index: 1;

  &.active {
    font-weight: 600;
  }
}
.satelite-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  /* right: 100px; */
}
.street-btn {
  position: absolute;
  top: 10px;
  left: 70px;
  /* right: 47px; */
}

.unicorn {
  display: inline-block;
  a {
    color: $green-font-color;
    text-decoration: none;
  }
}