@import "../../../../utils/styles/theme_colors";

.rovers-table-container {
  .table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-top: none;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .table > thead > tr > th {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $secondary-text-color;
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    &:nth-child(2) {
      width: 500px;
    }
  }
  .table > tbody > tr td {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857143;
    color: $secondary-text-color;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid $table-border-color;
  }
  .table > tbody > tr:hover {
    background: $more-table-cell-bg;
  }
  .table > thead > tr:hover {
    background: $more-table-cell-bg;
  }
  .user-photo {
    margin: 5px 8px 0 -7px;
    border-radius: 4px;
    float: left;
    border: 2px solid $primary-font-color;
    width: 42px;
    height: 42px;
  }
  p {
    color: $details-font-color;
    font-family: Ubuntu, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
  }
  a {
    color: $green-font-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $secondary-text-color;
    }
  }
  .rover-info {
    position: relative;
    top: -8px;
  }
}
