@import '../../utils/styles/theme_colors';
.specials-container {
  padding: 50px 20px;
  ul {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding: 20px 0px;
    li {
      width: 158px;
      height: 150px;
      transition: all 0.3s ease-in;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      cursor: pointer;
      .specials-count {
        position: relative;
        top: 10px;
        left: 54px;
        .badge {
          background: $secondary-text-color;
          margin-top: -8px;
          display: inline-block;
          min-width: 10px;
          padding: 3px 7px;
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
          color: $primary-font-color;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          border-radius: 10px;
        }
      }
      a {
        text-decoration: none;
        background: 0 0;
        img {
          width: 44%;
          margin-left: 42px;
          vertical-align: middle;
        }
        p {
          text-align: center;
          width: 150px;
          margin-top: 16px;
          font-weight: 500;
          font-style: italic;
          color: $green-font-color;
          font-size: 14px;
        }
        p:hover {
          color: $secondary-text-color;
        }
      }
    }
    li:hover {
      background: rgba(168, 167, 167, 0.17);
      border-radius: 10px;
    }
  }
}
