@import "../../utils/styles/theme_colors";

//////////////////////////////////////
/////////* MAP GREEN BUTTON */////////
//////////////////////////////////////

.map-footer-panel{
  padding: 10px 15px;
  background-color: $light-grey-bg;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  justify-content: center;
}

button.map-green-btn{
  font-size: 13px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 6px 12px;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border-radius: 0;
  text-transform: lowercase;
  transition: .2s linear;
  &:hover, &.active{
    background-color: #47a447;
    border-color: #4cae4c;
    transition: .2s linear;
  }
  &:first-child{
    border-radius: 4px 0 0 4px;
  }
  &:last-child{
    border-radius: 0 4px 4px 0;
  }
}

//////////////////////////////////////
////////////* MAP PAGE *//////////////
//////////////////////////////////////

#map-page{
  background-color: $light-grey-bg;
  padding-bottom: 96px;
  .map-wrapper{
    padding-bottom: 30px;
  }
}